<configuration>

    <springProperty name="APP_NAME" source="spring.application.name"/>

    <property name="LOG_FILE" value="_logs/${APP_NAME}.log"/>
    <property name="ROLLING_FILE_PATTERN" value="_logs/${APP_NAME}.%d{yyyy-MM-dd}.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ROLLING_FILE_PATTERN}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <level />
                <message />
                <mdc />
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>
